In [ ]:
import numpy as np
import pandas as pd
import joblib
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
#putting movies data on 'movies' dataframe
movies = pd.read_csv('main_data.csv')

In [ ]:
movies.head(5)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...

In [ ]:
tfidf = TfidfVectorizer(stop_words='english')
movies['comb'] = movies['comb'].fillna('')
#Construct the required TF-IDF matrix by applying the fit_transform method on the overview feature
overview_matrix = tfidf.fit_transform(movies['comb'])

#Output the shape of tfidf_matrix
overview_matrix.shape

(6010, 10486)

In [ ]:
import joblib

In [ ]:
joblib.dump(tfidf,"./vector.pkl")

['./vector.pkl']

In [ ]:
similarity_matrix = linear_kernel(overview_matrix,overview_matrix)
similarity_matrix

array([[1.        , 0.06147769, 0.03300498, ..., 0.        , 0.        ,
        0.        ],
       [0.06147769, 1.        , 0.0334425 , ..., 0.        , 0.        ,
        0.        ],
       [0.03300498, 0.0334425 , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.00738438,
        0.00640282],
       [0.        , 0.        , 0.        , ..., 0.00738438, 1.        ,
        0.00765886],
       [0.        , 0.        , 0.        , ..., 0.00640282, 0.00765886,
        1.        ]])

In [ ]:
mapping = pd.Series(movies.index,index = movies['movie_title'])

mapping.to_csv("Movie_title.csv")

In [ ]:
def recommend_movies_based_on_plot(movie_input):
  movie_index = mapping[movie_input]
  similarity_score = list(enumerate(similarity_matrix[movie_index]))
  similarity_score = sorted(similarity_score, key=lambda x: x[1], reverse=True)
  similarity_score = similarity_score[1:15]
  movie_indices = [i[0] for i in similarity_score]
  return (movies['movie_title'].iloc[movie_indices])

In [ ]:
recommend_movies_based_on_plot('toy story')

318                   toy story 2
1043                 a bug's life
541                          cars
36                    toy story 3
48                          brave
216                monsters, inc.
34                         cars 2
332     atlantis: the lost empire
281                   cloud atlas
106                   ratatouille
2295                          big
50                         wall·e
1588                 larry crowne
4050           that thing you do!
Name: movie_title, dtype: object

In [ ]:
movie_indices = [0,1,2,3,4,5,6,7,8,10,11,12,23,45]

In [ ]:
movies['movie_title'].iloc[movie_indices]

In [ ]:
import pandas 
import joblib
import numpy 


class movie_recommend:
  def __init__(self):
    self.movies = pd.read_csv('main_data.csv')
    Tfidf = joblib.load('./vector.pkl')
    self.movies['comb'] = self.movies['comb'].fillna('')
    overview_matrix = Tfidf.fit_transform(movies['comb'])
    self.similarity_matrix = linear_kernel(overview_matrix,overview_matrix)
    self.mapping = pd.Series(self.movies.index,index = self.movies['movie_title'])
		
  def recommend_movies_based_on_plot(self,movie_input):
   movie_index = self.mapping[movie_input]
   similarity_score = list(enumerate(self.similarity_matrix[movie_index]))
   similarity_score = sorted(similarity_score, key=lambda x: x[1], reverse=True)
   similarity_score = similarity_score[1:15]
   movie_indices = [i[0] for i in similarity_score]
   return (movies['movie_title'].iloc[movie_indices].values[0:10])

In [ ]:
movie = movie_recommend()
movie.recommend_movies_based_on_plot('toy story')

array(['toy story 2', "a bug's life", 'cars', 'toy story 3', 'brave',
       'monsters, inc.', 'cars 2', 'atlantis: the lost empire',
       'cloud atlas', 'ratatouille'], dtype=object)